@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&family=Raleway:wght@400;700&display=swap");
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

header, .main h1, footer {
  font-family: "Old Standard TT", serif;
}

.container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template: 45px 1fr 1fr 120px/100%;
  grid-template-areas: "header" "picture" "main" "footer";
}

@media (min-width: 736px) {
  .container {
    grid-template: 45px 1fr 120px/repeat(2, 1fr);
    grid-template-areas: "header header" "main picture" "footer footer";
  }
}
.header {
  display: flex;
  grid-area: header;
  background-color: #ffffff;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  padding: 9px 15px;
  border: none;
  position: fixed;
  right: 0;
}

.openbtn:hover {
  background-color: lightgray;
}

#master {
  transition: margin-left 0.5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}
.logo {
  background-color: #000000;
  width: 75px;
  height: 100%;
}

.logo h2 {
  color: #ffffff;
  margin: 8px 0 8px 0;
  text-align: center;
}

.picture {
  grid-area: picture;
  background-image: url(../img/imagen1.png);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.main {
  grid-area: main;
  background-color: #ffffff;
  padding: 1em;
}

.main h1 {
  margin: 10px 0 0 0;
}

.main p {
  margin: 5px 0 15px 0;
}

.btn {
  background-color: #ffffff;
  border: 1.5px solid #000000;
  width: 100px;
  height: 30px;
}

.btn:hover {
  background-color: lightgray;
  cursor: pointer;
}

.btn:active {
  background-color: gray;
}

.display-flex {
  display: inline-flex;
}

.footer {
  position: fixed;
  width: 100%;
  grid-area: footer;
  background-color: #000000;
  padding: 0 1em;
  bottom: 0px;
}
.footer__content {
  width: 100%;
  height: 100%;
  color: #ffffff;
}
.footer__content h3 {
  margin-bottom: 7px;
}
.footer__content p {
  margin-top: 0;
  margin-bottom: 5px;
}
.footer__content input {
  width: 230px;
  height: 25px;
  margin-bottom: 6px;
}
.footer ::placeholder {
  padding: 0 3px;
}
.footer__suscribir {
  position: absolute;
  width: 70px;
  height: 110px;
  right: 0;
  background-color: #ffffff;
  color: #000000;
  writing-mode: vertical-lr;
  text-align: center;
}
.footer__suscribir:hover {
  background-color: lightgray;
  cursor: pointer;
}
.footer__suscribir h3 {
  margin: 0 8px;
}

/*# sourceMappingURL=stylesheet.css.map */
